<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body class="bg-light">
  <div class="container mt-4 ">
  <div class="card" style="width: 500px; ">
  <%= image_tag (@user.avatar), width:"500px" ,height:"500px" if @user.avatar %>
  <div class="card-body text-center">
    <h5 class="card-title"><%= @user.name %></h5>
    <p class="card-text"><%= @user.body %></p>
    <%= link_to "Edit", edit_user_path(@user), class:"btn btn-primary" %></li>
  <%= link_to "Destroy", user_path(@user),class:"btn btn-primary", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
   <%= link_to "Back" , root_path , class:"btn btn-warning" %>
  </div>
</div>  
  </div>


</body>
</html>

